{% extends "bootstrap/base.html" %}
{% block content %}

    <div class="container" xmlns:panel-size="http://www.w3.org/1999/xhtml">
        <div class="jumbotron" style="background-color:#1daeff !important;">
            <h2 style="color:#fff;">Gender Classifier</h2>
            <p style="color:#fff;">Using Machine Learning to Classify Gender</p>
        </div>

    </div>


    <div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color:#1daeff">Type the Name for Gender Classifier</div>
        <div class="panel-body" , size="100px">

            <!-- Main Input For Receiving Query to our ML -->
            <form action="{{ url_for('predict') }}" method="POST" , height="100px">
                <input type="text" name="namequery" size="100px">
                <button type="submit" class="btn btn-primary">Predict</button>
            </form>
        </div>

        <!-- Main ML Prediction Display Ends Here -->
        <div class="card-footer text-muted">

        </div>
    </div>


{% endblock %}

{% block styles %}
    {{ super() }} <!-- Allows Javascripts and other styles to be inclusive in bootstrap -->
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='css/styles.css') }}">
{% endblock %}